<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <img [src]="contact_image" alt="Contact" id="contactImage">
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="text-center">-: Contact Us :-</h1>
            <h3 class="text-center">Please feel free to contact us regarding any query regarding the Appointment Booking Application. We'll contact you back real soon!</h3>
            <h4 class="text-center">You can connect us with the following detail given :</h4>
            <h4 class="text-center"><strong>Contact Number :</strong> +15483333064</h4>
            <h4 class="text-center"><strong>Email ID :</strong> hi@appointmentbookingsystem.com</h4>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>