doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
      script(src="/build/main.es5.js")
      script(src="/build/polyfills.es5.js")
      script(src="/build/runtime.es5.js")
      script(src="/build/styles.es5.js")
      script(src="/build/vendor.es5.js")
      script(src="/build/main.es5.js")      
