<div class="container">
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="formContainer">
            <h1 class="text-center">-: Create an Appointment :-</h1>

            <div class="alert alert-danger alert-dismissible fade" role="alert" id="alert">
                <strong>Invalid input received or field is empty!</strong> Please check.
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>

             <div class="alert alert-success alert-dismissible fade" role="alert" id="successAlert">
                <strong>Your Appointment has been confirmed.</strong> You'll be redirected to Home in few seconds.
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>

            <form #appointmentFormData="ngForm" id="form" (ngSubmit)="saveAppointment(appointmentFormData)">
            <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input matInput required name="fullname" ngModel>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" name="date" ngModel required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Select Appointment Time</mat-label>
                <mat-select [(value)]="selected" required name="time" ngModel>
                  <mat-option value="10:00 AM">10:00 AM</mat-option>
                  <mat-option value="11:00 AM">11:00 AM</mat-option>
                  <mat-option value="12:00 PM">12:00 PM</mat-option>
                  <mat-option value="1:00 PM">1:00 PM</mat-option>
                  <mat-option value="2:00 PM">2:00 PM</mat-option>
                  <mat-option value="3:00 PM">3:00 PM</mat-option>
                  <mat-option value="4:00 PM">4:00 PM</mat-option>
                  <mat-option value="5:00 PM">5:00 PM</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput required name="email" ngModel>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Contact</mat-label>
                <input matInput required name="contact" ngModel>
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary">Book Appointment</button>
            </form>

            
           
        </div>
        <div class="col-md-2"></div>
    </div>
</div>