<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">-: About Appointment Booking System :-</h2>
            <h4 class="align-middle">The Appointment Booking System Application is all about Booking Your Own Appointment at the specific date and time. This Application can be used anywhere I.E. For Hospital's doctors, for lawyers, for businessmen and many more. This application is built for all the purposes related to appointment booking. </h4>
            <h4 class="align-middle">If you have any query regarding anything, please feel free to contact us.</h4>
            <button mat-raised-button color="primary"><a routerLink="">Take Me Back To Home</a></button>
            <button mat-raised-button color="accent" id="contact"><a routerLink="/contact">Contact</a></button>
        </div>
        <div class="col-md-6">
            <img [src]="about_image" alt="About" id="aboutImage">
        </div>
    </div>

    
</div>